<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} -s [OR]
	RewriteCond %{REQUEST_FILENAME} -l [OR]
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteCond %{REQUEST_URI} !^/$
	RewriteRule ^.*$ - [NC,L]
	RewriteRule ^.*$ dispatch.php [NC,L]
</IfModule>