body {
	font-family: Verdana,Arial,sans-serif;
	font-size: 12px;
	margin-top: 100px;
	margin-left: 100px;
	margin-right: 100px;
	background: #eef;
	
}

a:link, a:visited, a:active, a:hover  {
	text-decoration: none; 
	color: #0B93D5;
}

h1 {
	background-image:url('img/avox.png');
	background-repeat: no-repeat;
	background-position: right center;
	border: 1px solid #069;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 15px 5px 15px 5px;
	margin: 20px 10px 10px 10px;
	font-size: 16px;
}


h2 {
	margin-left: 30px;
	margin-bottom: 5px;
	font-size: 14px;
}

img {
	border: 0px;
}

textarea {
	float: left;
	margin-right: 5px;
}

legend {
	font-weight: bold;
	color: white;
}

fieldset {
	margin: 5px;
	padding: 10px;
}

input {
	margin-bottom: 2px;
}

li {
	margin-bottom: 5px;
}

pre {
	font-size: 120%;
	border: 1px dotted #202020;
	margin: 10px;
	padding: 20px;
}


#head {
	float: left;
	background: #fff;
	margin-right: 20px;
	padding-top: 3px;
	border: 2px solid #069;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	width: 43px;
}

#in {
	margin-left: 48px;
	background: #fff;
	border: 2px solid #069;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding-bottom: 35px;
}

#out {
	display: none;	
	clear: left;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 5px;
	padding-left: 0px;
	padding-bottom: 20px;	
	background: #fff;
	border: 1px solid #6f6f6f;	
}

#out p {
	padding-left: 0px;
}

#out p.topic {
	padding-left: 30px;
}


#status {
	color: #0B93D5;
	text-align: center;
	font-size: 80%;
}

.dsdescription {

}

.dsmain {
	background: #fff;
	padding: 2px 20px 0px 30px;
}

.dsmain div {
	padding-left: 10px;	
}

.dsmain p {
	padding-top: 0px;	
	padding-left: 0px;	
	margin-left: 0px;
}


.dsmain div div {
	margin-bottom: 10px;	
}

.dsmain div div em {
	color: #6f6f6f;
	font-style: normal;
}

.sparqlep {
		padding: 10px 20px 10px 20px;
}

.sparqlepcmd {
	text-align: left; 
	padding-left: 0px; 
	padding-top: 5px;
}

.topic {
	padding-top: 10px;
	padding-left: 0px;	
}

.dstopic {
	padding: 10px 5px 2px 5px;
	margin: 15px 400px 10px 50px;
	border-top: 1px dotted #ACF;
}

.topicdetails {
	display: none;	
	padding: 10px 20px 10px 20px;
}

.btn {
	cursor: pointer;
	padding: 3px 10px 3px 10px;
}

.smallbtn {
	cursor: pointer;
	font-size: 80%;
	padding: 1px 4px 1px 4px;	
}




.flabel {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 0px;
}


.fyi {
	margin: 0px;
	padding-top: 0px;
	color: #8f8f8f;
	font-size: 11px;
	text-align: justify;	
}

.sectseparator {
	clear: left;
	padding: 10px 0px 10px 5px;
	margin: 1px 10px 1px 30px;
	border-bottom: 1px dotted #E0E0E0 ;
}
