body {
	font-family: Verdana,Arial,sans-serif;
	font-size: 12px;
	margin-top: 100px;
	margin-left: 100px;
	margin-right: 100px;
	background: #eef;
	
}

a:link, a:visited, a:active, a:hover  {
	text-decoration: none; 
	color: #0B93D5;
}

h1 {
	background-image:url('img/avox.png');
	background-repeat: no-repeat;
	background-position: right center;
	border: 1px solid #069;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 15px 5px 15px 25px;
	margin: 20px 10px 10px 10px;
	font-size: 16px;
}


h2 {
	margin: 2px 0px 0px 30px;
	font-size: 14px;
}

img {
	border: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

textarea {
	float: left;
	margin: 0px 5px 0px 0px;
	font-size: 90%;
	padding: 2px;
}

legend {
	font-weight: bold;
	color: white;
}

fieldset {
	margin: 5px;
	padding: 10px;
}

input {
	margin-bottom: 2px;
}

li {
	margin-bottom: 5px;
}

pre {
	font-size: 120%;
	border: 1px dotted #202020;
	margin: 10px;
	padding: 20px;
}

table {
	border: 1px solid #cfcfcf;
	width: 100%;
}

th {
	border-bottom: 1px solid #9f9f9f;
	background: #6a6a6a;
	color: #f0f0f0;
}

tr.invrow {
	background-color: #efefff;
}


#head {
	float: left;
	color: #606060;
	font-size: 80%;
	font-weight: bold;
	margin-right: 20px;
	padding: 4px 0px 4px 10px;
}


#in {
	background: #fff;
	border: 2px solid #069;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding-bottom: 0px;
}

#infield {
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#exvoidfiles {
	display: none;
	margin: 5px 0px 5px 0px;
	float: left;
	text-align: right;
}

#out {
	display: none;	
	clear: left;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 5px;
	padding-left: 0px;
	padding-bottom: 20px;	
	background: #fff;
	border: 1px solid #6f6f6f;	
}


#status {
	color: #909090;
	text-align: left;
	font-size: 80%;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 5px;
	padding-left: 5px;
	padding-top: 2px;	
	background: #fff;
	border: 1px solid #909090;
}

.dsdescription {

}

.dsdescription h2 {
	margin: 2px 10px 10px 10px;
	padding: 2px 0px 5px 5px;
	font-size: 14px;
}

.toc {
	border: 1px solid #069;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #fff;
	padding: 2px 2px 0px 2px;
	margin: 10px 10px 20px 10px;
}


.toc h2 {
	margin: 2px 0px 10px 0px;
	padding: 2px 0px 5px 5px;
	font-size: 14px;
}

.tocentry {
	margin: 10px 0px 10px 10px;	
}

.dsmain {
	background: #fff;
	padding: 2px 20px 0px 30px;
}

.dsmain div {
	padding-left: 10px;	
}

.dsmain p {
	padding-top: 0px;	
	padding-left: 0px;	
	margin-left: 0px;
}


.dsmain div div {
	margin-bottom: 10px;	
}

.dsmain div div em {
	color: #4a4a4a;
	font-style: normal;
	font-weight: bold;
}

.sparqlep {
	padding: 10px 20px 10px 0px;
}

.sparqlepcmd {
	text-align: left; 
	padding-left: 0px; 
	padding-top: 5px;
}

.sparqlresult {
	display: none;
	clear: left;
	font-size: 80%;
	border: 1px dotted #a0a0a0;
	margin: 5px 0px 5px 0px;
}

.topic, .exampleres {
	padding-top: 10px;
	padding-left: 30px;	
}

.dstopic, .dsexample {
	padding: 10px 5px 2px 5px;
	margin: 15px 400px 10px 50px;
	border-top: 1px dotted #ACF;
}

.topicdetails {
	display: none;	
	padding: 10px 20px 10px 20px;
}

.btn {
	cursor: pointer;
	padding: 3px 10px 3px 10px;
}

.smallbtn {
	cursor: pointer;
	font-size: 80%;
	padding: 1px 4px 1px 4px;	
}

.inlinebtn {
	cursor: pointer;
	font-weight: bold;
}

.flabel {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 0px;
}


.fyi {
	margin: 0px;
	padding-top: 5px;
	color: #8f8f8f;
	font-size: 11px;
	text-align: justify;	
}

.sectseparator {
	clear: left;
	padding: 30px 0px 0px 5px;
	margin: 10px 10px 0px 30px;
	border-bottom: 1px dotted #E0E0E0 ;
}

.examplelink {
	font-weight: normal;
	width: 200px;
	cursor: pointer;
	font-size: 90%;
	padding: 1px 4px 1px 4px;
	margin-bottom: 5px;
}