.cloud-box {
	padding: 3px;
	border: 1px solid #A8A8C3;
	background-color: white;
	width: 500px;
	-moz-border-radius: 5px;
}

a.tag:link {
	color: #2222ff;
	text-decoration: none;
}

a.tag:hover {
	text-decoration: none;
	background-color: #2222ff;
	color: white;
}