<?php include 'conneg.php' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
	<link type="text/css" rel="stylesheet" media="all" href="/modules/book/book.css?O" />
	<link type="text/css" rel="stylesheet" media="all" href="/modules/node/node.css?O" />
	<link type="text/css" rel="stylesheet" media="all" href="/modules/system/defaults.css?O" />
	<link type="text/css" rel="stylesheet" media="all" href="/modules/system/system.css?O" />
	<link type="text/css" rel="stylesheet" media="all" href="/modules/system/system-menus.css?O" />

	<link type="text/css" rel="stylesheet" media="all" href="/modules/user/user.css?O" />
	<link type="text/css" rel="stylesheet" media="all" href="/sites/all/modules/cck/theme/content-module.css?O" />
	<link type="text/css" rel="stylesheet" media="all" href="/modules/openid/openid.css?O" />
	<link type="text/css" rel="stylesheet" media="all" href="/sites/default/files/color/garland-e28d12bf/style.css?O" />
	<link type="text/css" rel="stylesheet" media="print" href="/themes/garland/print.css?O" />
	
	
		<link rel="stylesheet" href="http://morph.talis.com/css/main.css" type="text/css" media="screen" charset="utf-8"/>
		<link rel="stylesheet" href="main.css" type="text/css" media="screen" charset="utf-8"/>
		<!-- <base href="http://kwijibo.talis.com/voiD/"/> -->
	<title>voiD Browser</title>
	
</head>

<body>
	<div class="container">
		<div class="contents">		
			<div id="header">
								<strong class="site_name">voiD Browser</strong>
								
				<ul id="navigation">
					<li><a href="sparql?uri=<?php echo urlencode(voiD_Store_Uri.'/services/sparql') ?>">SPARQL</a></li>
					<li><a href="submit">Submit</a></li>
					<li><a href="rights">Rights</a></li>
					<li><a href="subjects">Subjects</a></li>
					<li><a href="vocabularies">Vocabularies</a></li>
					<li><a href="top-creators">Creators</a></li>
					<li><a href="Describer">Describe</a></li>
					

				</ul>

			</div>

			<?php include $filename ?>
			<div id="footer">
				<hr/>
				<p>Developer: <a href="http://kwijibo.talis.com/">Keith Alexander</a></p>
				<p>
					See Also: <a href="http://rdfs.org/ns/void-guide">voiD Guide</a>
				</p>
				<p>
					See Also: <a href="http://void.rkbexplorer.com/">voiD Explorer</a>
				</p>
				<?php if (isset($graph) AND !$graph->is_empty()): ?>
					<?php
					$bit = (strpos($_SERVER['REQUEST_URI'], '?'))? '' : '?';
					?>
					<a href="<?php echo $_SERVER['REQUEST_URI'].$bit ?>&amp;output=xml">RDF/XML</a>
					<a href="<?php echo $_SERVER['REQUEST_URI'].$bit ?>&amp;output=n3">Turtle</a>
					<a href="<?php echo $_SERVER['REQUEST_URI'].$bit ?>&amp;output=json">JSON</a>
				<?php endif ?>
			</div>
		</div>
	</div>
</body>
</html>
